{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block content %}
    <h1>Liste des catégories</h1>

    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}