{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block content %}
    <h1>A propos</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquam consectetur, deleniti
        dignissimos id illum natus neque praesentium quasi sed tempora voluptatum. Ab dignissimos eum ipsum porro,
        quo repellendus?</p>
    <p>Beatae commodi corporis eligendi laborum laudantium minus molestiae nostrum omnis quos, voluptates. Ad
        asperiores beatae deserunt, expedita explicabo in ipsa molestias nesciunt nihil numquam officiis, porro qui
        quia, repellendus rerum.</p>
    <p>Accusamus architecto at distinctio dolores illum in labore quae rem. Ducimus necessitatibus neque quos
        recusandae ut? Asperiores fuga molestias porro reprehenderit voluptatem. Dolorem, harum illo in minima optio
        quia ut.</p>
{% endblock %}