{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1>Accueil</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur dicta dolores earum excepturi
        exercitationem inventore ipsa itaque, libero minus natus nobis praesentium quaerat, quisquam reiciendis suscipit
        totam ullam ut!
    </p>
{% endblock %}