{% extends 'base.html.twig' %}

{% block title %}Liste de tous les articles de la catégorie {{ category.name }}{% endblock %}

{% block content %}
    <nav class="float-end my-2">
        <a href="{{ path('posts_create') }}" class="btn btn-primary">Créer un article</a>
    </nav>

    <h1>Liste de tous les articles de la catégorie {{ category.name }}</h1>

    {{ include('post/partials/posts.html.twig', {posts: posts}) }}
{% endblock %}